# Data Querying
Use this notebook to query the star modelled data.

In [2]:
%load_ext sql

In [3]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [24]:
%sql \
SELECT songplays.start_time, songplays.level, songplays.location, title as songname, name as artist, first_name as userName, time.hour \
FROM songplays \
JOIN songs ON (songplays.song_id = songs.song_id)\
JOIN artists ON (songplays.artist_id = artists.artist_id)\
JOIN users ON (songplays.user_id = users.user_id)\
JOIN time ON (songplays.start_time = time.start_time)\
\
WHERE title = 'Setanta matins' \
AND name = 'Elena' \
\
LIMIT 10;

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0),
 (datetime.date(2018, 11, 21), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'Setanta matins', 'Elena', 'Lily', 0)]

In [30]:
%sql \
SELECT songplays.start_time, songplays.level, songplays.location, title as songname \
FROM songplays \
JOIN songs ON (songplays.song_id = songs.song_id)\
JOIN artists ON (songplays.artist_id = artists.artist_id)\
JOIN users ON (songplays.user_id = users.user_id)\
JOIN time ON (songplays.start_time = time.start_time)\
WHERE title != 'Setanta matins' \
\
LIMIT 15;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]